@if (areRootsLoading | async) {
<mat-spinner></mat-spinner>
} @else {
<mat-tree #tree [dataSource]="roots" [childrenAccessor]="getChildren" [trackBy]="trackBy" [expansionKey]="expansionKey">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding="" [isExpandable]="node.isExpandable()"
        (expandedChange)="onExpand(node, $event)">
        <!-- Spinner when node is loading children; this replaces the expand button. -->
        @if (node.areChildrenLoading()) {
        <mat-spinner diameter="48" mode="indeterminate"></mat-spinner>
        }

        @if (!node.areChildrenLoading() && node.isExpandable()) {
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.raw.name">
            <mat-icon class="mat-icon-rtl-mirror">
                {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>
        }

        <!-- Spacer for leaf nodes -->
        @if (node.isLeaf()) {
        <div class="toggle-spacer"></div>
        }

        <span>{{node.raw.name}}</span>
    </mat-tree-node>
</mat-tree>
}


<mat-tree #tree2 [dataSource]="roots" [childrenAccessor]="getChildren" [trackBy]="trackBy"
    [expansionKey]="expansionKey">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        {{node.name}}
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
        [cdkTreeNodeTypeaheadLabel]="node.raw.name" (expandedChange)="onExpand(node,$event)"
        [isExpandable]="node.isExpandable()">
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
                {{tree2.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>
        {{node.raw.name}}
    </mat-tree-node>
</mat-tree>