<!-- <mat-drawer-container>
  <mat-drawer #leftside mode="side" opened="">sss</mat-drawer>
  <mat-card-header>asdfasddf</mat-card-header>
  <mat-drawer-content>

    <mat-card>
      <button mat-flat-button class="primary" color="red" (click)="leftside.toggle()">asdfasdf</button>
      <button mat-flat-button class="secondary">asdfasdf</button>
      <button mat-flat-button class="tertiary">asdfasdf</button>
      <button mat-flat-button class="error">asdfasdf</button>
      <button mat-flat-button class="error" disabled>asdfasdf</button>
      <mat-card-content>
        <div>asdfasdf</div>
        阿斯顿发上地发生地

        <router-outlet />
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container> -->

<app-mattree></app-mattree>